.main {
    height: 100vh;
    background-color: #ffcaf9;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.greeating {
    display: flex;
    flex-direction: column;
}
.photo {
    height: 400px;
    width: 300px;
    background-color: #b8b7c6;
}
