.header {
    height: 80px;
    background-color: #3c75ff;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav{
    width: 300px;
    display: flex;
    justify-content: space-between;
}