.skillsBlock {
    height: 100vh;
    background-color: #ccffee;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    margin: 0 auto;
    flex-direction: column;
}

.title {
    background-color: #d3c2ff;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}