.remoteBlock {
    height: 150px;
    background-color: #ecffc8;
    border: 1px solid;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    margin: 0 auto;
    flex-direction: column;
}

.container button{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}